@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Nunito:wght@400;700&family=Ubuntu+Mono:wght@700&display=swap");
header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #272643;
}
header .title {
  align-self: center;
  margin-top: 10px;
}
header .title__h1 {
  font-family: "Ubuntu Mono", monospace;
  color: #8C9CB1;
}
header .menu {
  margin: 10px auto;
  width: 90%;
  font-size: 0.8em;
}
header .menu__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .menu__button {
  color: #272643;
}
header .menu__button:hover {
  color: #fefdf8;
}
header .menu__item {
  color: #8C9CB1;
}
header .menu__item:hover {
  background-color: #616886;
  border-color: #616886;
  border-radius: 5px;
}

main {
  grid-area: main;
  width: 100%;
  margin: 3rem auto 5.5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(10rem, auto);
  row-gap: 2rem;
  grid-template-areas: "introduction introduction" "skills skills" "projects projects" "about about";
}
main section {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.introduction {
  width: 90%;
  height: 90%;
  grid-area: introduction;
  border: 1px solid #fefdf8;
  border-radius: 10px;
  box-shadow: 0 0 3px 4px #e3e3e3;
  display: flex;
  justify-content: space-around;
}
.introduction__h3 {
  font-size: 1.1rem;
  color: #8C9CB1;
}
.introduction__h1 {
  font-size: 1.25rem;
  padding: 10px;
  text-align: center;
}

.skills {
  height: 95%;
  grid-area: skills;
  display: flex;
  justify-content: space-around;
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.skills__list .sb {
  grid-area: 3/2/4/3;
  justify-content: space-between;
}
.skills__list .python {
  grid-area: 3/3/4/4;
  justify-content: space-between;
}
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills__item p {
  margin: 10px auto;
  color: #8C9CB1;
}

.projects {
  height: 100%;
  grid-area: projects;
  display: flex;
}
.projects__list {
  margin: 0 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  justify-items: center;
}
.projects__item {
  width: 130px;
  height: 130px;
  background-color: #8C9CB1;
  border-radius: 5px;
  margin-bottom: 1.2rem;
}

.about {
  height: 100%;
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  grid-area: footer;
  width: 100%;
  height: 4.5rem;
  background-color: #272643;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
footer .contact__email {
  margin-right: 2rem;
  color: #8C9CB1;
}
footer .social-media {
  width: 10%;
}
footer .social-media__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.button {
  background-color: #BAE8E8;
  border: 1px solid #BAE8E8;
  color: #272643;
  border-radius: 8px;
  padding: 7px 20px;
}

body {
  background-color: #fefdf8;
  color: #272643;
  font-family: "Nunito", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  padding: 5px;
}

p {
  text-align: center;
}

html, body {
  overflow-x: hidden;
}

.button:hover {
  background-color: #616886;
  border-color: #616886;
  border-radius: 5px;
}

.button:hover {
  color: #fefdf8;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(60px, auto);
  grid-template-areas: "header header" "main main" "main main" "main main" "main main" "footer footer";
}

@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  header .title {
    margin: 20px;
  }
  header .menu {
    width: 50%;
    margin: 20px;
    font-size: 1rem;
  }

  main .skills__list {
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
  }
  main .skills__list .sb {
    grid-area: 2/4/3/5;
  }
  main .skills__list .python {
    grid-area: 2/5/3/6;
  }
  main .projects__item {
    width: 200px;
    height: 200px;
  }

  footer {
    justify-content: space-between;
  }
  footer .contact__email {
    margin-left: 3rem;
    font-size: 1.1rem;
  }
  footer .social-media {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 1000px) {
  main .projects__item {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 1280px) {
  main {
    row-gap: 4rem;
  }

  .introduction {
    padding: 1.5rem 0;
    margin-bottom: 2rem;
  }

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h3 list" "paragraph list";
    justify-items: center;
  }
  .skills__h3 {
    grid-area: h3;
    font-size: 3rem;
    padding-top: 3rem;
  }
  .skills__paragraph {
    grid-area: paragraph;
  }
  .skills__list {
    grid-area: list;
  }
}