$font-logo: "Ubuntu Mono", monospace;
$font-headers: "Nunito", sans-serif;

$color-primary: #272643;
$color-secondary: #8C9CB1;

$color-background: #fefdf8;
$color-background-secondary: #BAE8E8;

$color-footer: #272643;
$color-hover: #616886;