@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito:wght@700&family=Ubuntu+Mono:wght@700&display=swap');

$font-logo: "Ubuntu Mono", monospace;
$font-headers: "Nunito", sans-serif;
$font-handwriting: 'Courgette', cursive;

$color-primary: #2b294c;
$color-secondary: #8C9CB1;
$color-buttons: #b0e7e7;

$color-background: #fefdf8;

$color-hover: #616886;