@use "../vars/variables" as *;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-background;
    color: $color-primary;
    font-family: $font-headers;
}

a {
    padding: 5px;
}

h2 {
    font-size: 1.8em;
}

html, body {
    overflow-x: hidden;
}

.button {
    border-radius: 8px;
    padding: 7px 20px;
    background-color: $color-buttons;
    border: 1px solid  $color-buttons;
    color: $color-primary;

    &:hover {
        background-color: $color-hover;
        border-color: $color-hover;
        border-radius: 5px;
        color: $color-background;
    }
}