@use "../vars/variables" as *;

footer {
  grid-area: footer;
  width: 100%;
  height: 4.5rem;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact__email {
      margin-right: 2rem;
      color: $color-secondary;
  }

  .social-media {
      width: 10%;
      
      &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-right: 1rem;
      }

      &__item:hover {
        transform: translateY(-3px)
      }
    }
}