@use "../vars/variables" as *;

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $color-primary;
    z-index: 1;

    .title {
        align-self: center;
        padding: 10px;

        &__h1 {
            font-family: $font-logo;
            color: $color-secondary;
        }
    }

    .menu {
        margin: 10px auto;
        width: 90%;
        font-size: 0.8em;

        &__list {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        &__button {
            color: $color-primary;

            &:hover {
                color: $color-background;
            }
        }

        &__item {
            color: $color-secondary;

            &:hover {
                background-color: $color-hover;
                border-color: $color-hover;
                border-radius: 5px;
            }
        }
    }

}
