@use "../vars/variables" as *;

main {
    margin: 100px auto;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    section {
        margin: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .introduction {
        height: 20%;
        border: 1px solid $color-background;
        border-radius: 10px;
        box-shadow: 0 0 3px 4px #e3e3e3;
        display: flex;
        justify-content: space-around;

        &__h3 {
            color: $color-secondary;
        }
    }
    
    .skills {
        display: flex;
        height: 30%;

        &__list {
            margin: 20px auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p {
                margin: 10px auto;
                color: $color-secondary;
            }
        }
    }

    .projects {
        display: flex;

        &__list {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 50px;
        }

        &__item {
            padding: 20px;
            text-align: center;
        } 
    }

    .about {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}