@use "../vars/variables" as *;

@media screen and (max-width: 1050px) {
    header {
        .menu {
            width: 50%;
            &__list {
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 875px) {
    header {
        .title {
            margin: auto 20px;
        }

        .menu {
            margin: auto 20px;
        }
    }

    main {
        .skills {
            &__h3 {
                margin: 20px;
            }
            &__list {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
            }
        }
    }
    
}

@media screen and (max-width: 768px) {
    main {
        height: 1700px;
    }
}

@media screen and (max-width: 650px) {
    html, body {
        overflow-x: hidden;
    }
    header {
        height:100px;
        flex-direction: column;

        .menu {
            width: 90%;
            &__list {
                justify-content: space-around;
            }
        }
    }
    main {
        margin-right: 0;
        width: 100%;
        section {
            width: 90%;
            margin: 50px 0;
        }
    }
    footer {
        width: 100%;
    }
}

@media screen and (max-width: 525px) {

    main {
        margin-bottom: 50px;
        section {
            margin: 30px;
        }

        .introduction {
            height: 15%;
            &__h3 {
                font-size: 17px;
            }
            &__h1 {
                font-size: 20px;
            }
        }
    }
    footer {
        #email {
            margin-left: 10px;
        }
    }
}

@media screen and (max-width: 435px) {
    main {
        .introduction {
            border: none;
            box-shadow: none;
            &__h1 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 390px) {
    header {
        .menu {
            font-size: 0.8em;
        }
    }
    main {
        height: 2100px;
        justify-content: space-around;
        .skills {
            &__list {
                grid-template-columns: auto auto auto auto;
                .sb {
                    grid-area: 3/2/4/3;
                    justify-content: space-between;
                }
                .python {
                    grid-area: 3/3/4/4;
                    justify-content: space-between;
                }
            }
        }
    }
    footer {
        justify-content: center;
        #email {
            margin: auto 10px;
        }
        .social-media {
            margin: auto 25px;
        }
    }
}