@use "../vars/variables" as *;

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .title {
            margin: 20px;
        }

        .menu {
            width: 50%;
            margin: 20px;
            font-size: 1rem;
        }
    }

    main {
        .skills {

            &__list {
                grid-template-columns: repeat(5, 1fr);
                width: 90%;
            
                .sb {
                    grid-area: 2 / 4 / 3 /5;
                }
                .python {
                    grid-area: 2 / 5 / 3 /6;
                }
            }
        }

        .projects {
            &__item {
                width: 200px;
                height: 200px;
            }
        }
    }

    footer {
        justify-content: space-between;

        .contact__email {
            margin-left: 3rem;
            font-size: 1.1rem;
        }

        .social-media {
            margin-right: 3rem;
        }

    }
}

@media screen and (min-width: 1000px) {
    main {
        .projects__item {
            width: 250px;
            height: 250px;
        }
    }
}

@media screen and (min-width: 1280px) {

    main {
        row-gap: 4rem;
    }

    .introduction {
        padding: 1.5rem 0;
        margin-bottom: 2rem;
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "h3 list"
        "paragraph list";
        justify-items: center;

            &__h3 {
                grid-area: h3;
                font-size: 3rem;
                padding-top: 3rem; 
            }

            &__paragraph {
                grid-area: paragraph;
            }

            &__list {
                grid-area: list;
            }
    }
    
}